:root{
    --container-width: 1000px;
    --container-height: 800px;
    --line-width: 300px;
    --image-width-and-height: 100px;
}

body {
    background-color: rgb(255, 233, 243);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: var(--container-height);
    width: var(--container-width);
    background-color: #f8f8fa;
    position: relative;
}


.info {
    display: flex;
    justify-content: space-around;
}

.menu {
    background-color: #f8f8fa;
    height: var(--container-height);
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.start{
    width: 65px;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    background-color: pink;
}

.pause{
    width: 65px;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    background-color: green;
}

.restart{
    width: 65px;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    background-color: grey;
}

.line {
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: calc((var(--container-width) - var(--line-width)) / 2);
    width: var(--line-width);
}

.char {
    /* background-color: rgb(165, 41, 113); */
    position: absolute;
    bottom: calc((var(--container-height) - var(--image-width-and-height)) / 2);
    left: calc((var(--container-width) - var(--image-width-and-height)) / 2);
    /* height: calc((var(--container-height) - var(--image-width-and-height)) / 2); */
}

.strawberries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.strawberry {
    width: 60px;
    height: 60px;
    margin: 10px;
    background-color: blueviolet;
    background-image: url(marwa\ \(1\).jpg);
    background-position: center;

}